<p style="color: green"><%= notice %></p>

<h1>lUsers</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this luser", user %>
    </p>
  <% end %>
</div>

<%= link_to "New luser", new_user_path %>
